/* Resets */
*{
    box-sizing: border-box;
}
ul,ol {
    padding: 0;
}
li {
    list-style-type:none;
    color: white;
}
a {
    text-decoration: none;
    color: #000;
}
body {
    font-family: Nunito;
    margin: 0;
    padding-bottom: 150px;
    background: -webkit-linear-gradient(to bottom right, #2c2c2c 25%, #af3c1c 75%);  
    background: linear-gradient(to bottom right, #2c2c2c 25%, #af3c1c 75%);
    font-family: 'Open Sans', sans-serif;

}


/* Navigation */
nav{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 20px;
    background-color: black;
    color: #fff
}

nav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}
.enlaces{
    color: white;
}
.main-nav li,
.user li {
    margin: 0 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    color: #fff;
}

.main-nav li:first-child {
    font-weight: bold;
}

.user img {
    width: 100px;
    height: 60px;
    margin-left: 10px;
}

h1,h2,h3 {
    font-weight: 400;
    margin-left: 25px;
    color: white;
}

h1,
main {
    padding: 0 30px;
}

/* Top data */
.top-data {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    color: #666;
}
.data-detail {
    width: 32%;
    border-radius: 4px;
    background-color: #fff;
    padding: 10px 30px;
    text-transform: capitalize;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.data-detail p {
    margin-top:0;
}
.data-detail h4 {
    margin-bottom: 0;
}

/* Categorías */
.general-data {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #fff;
    padding: 20px 20px 10px 20px;
}
.general-data .card {
    width: 32%;
    border-radius: 4px;
    background-color: #36b9cc;
    margin-bottom: 10px;
    padding: 0 20px;
    color: #fff;
}
.character-card{
    background-color: #000;
}
/* Characters Container */
.card-container {
    margin-top: 20px;
    padding: 0 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

/* footer */
footer {
    background-color:#621500;
    ;
    text-align: center;
    padding: 40px 0;
    color: beige;
    
    bottom: 0;
    width: 100%;
}
