.seccion_detallepeli{
    color: beige;
    display: flex;
    flex-direction:row;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px;
}
.imagenpeli{
    object-fit: cover;
    border-radius: 20px;
}
.items1{
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-around;
}
.items3{
    display: flex;
    flex-direction: column;
    align-items:stretch;
    justify-content: space-around;
    align-self: center;
    background-color: rgba(170, 170, 170, 0.393);
    padding:40px;
    margin: 0px;
    border-radius: 100px;
}

.botonfav{
    background:  rgba(197, 65, 29, 0.288);
    border: none;
    border-radius: 15px;
    padding: 15px 30px;
    color: white;
    margin-right: 20px;
    cursor: pointer;
    font-size: 18px;
}

.botonfav:hover{
    background-color:rgb(173, 121, 0);
}
.generos{
    color: beige;
}

@media(max-width: 420px){
    p,a{
        font-size: 10px;
    }
    .imagenpeli{
        height: 220px;
        width: 120px;
    }
    h1,h2,h3{
        font-size: 15px;
    }
    .botonfav{
        padding: 5px 5px;
        margin-right: 10px;
        font-size: 10px;
    }
    .items3{
        padding:20px;
        margin: 0px;
        border-radius: 60px;
    }
}