.pelicula-card{
    color: beige;
    font-size: 20px;
    padding: 10px;
    margin-bottom: 20px;
    width: 24%;
    background: #811f04;
    border-radius: 10px;
    box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15);
    transition: all 300ms;
    
}
.pelicula-card img{
    width: 100%;
    margin-bottom: 20px; 
}
.pelicula-card:hover,
.active{
box-shadow: 0rem 0rem 10px 8px rgb(58 59 69 / 25%);
}
.pelicula-card:hover{
    transform: scale(1.05);
}
.pelicula-card p {
    margin: 3px 0;
}
.pelicula-card h2 {
    margin: 2px 0;
}
.more{
    color: blue;
    text-align: right;
}
.delete {
    color: red;
    text-align: right;
}
.more:hover,
.delete:hover {
    text-decoration: underline;
    cursor: pointer;
}
.show{
    display: block;
}
.hide{
    display: none;
}
.botonFav{
    background:  rgba(197, 65, 29, 0.288);
    color: white;
    font-size: 12px;
    cursor: pointer;
    border: none;
    border-radius: 15px;
    padding: 15px 7px;
}
.botonFav:hover{
    background-color:rgb(173, 121, 0);
}